/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { overflow-y: hidden; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
    padding: 0 ;
    margin: 0;
    list-style-type: none;
}
body{
    overflow-x: hidden;
}